<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout.html}"
      lang="en">
<head>
  <title>
    Reset password link successful
  </title>
</head>
<body>
<div>
  <section layout:fragment="content">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h2 style="text-align: center">
        PASSWORD RESET
      </h2>
      <p>A message has been sent to you by email with instructions on how to reset your password.</p>
    </div>
  </section>
</div>
</body>
</html>